.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 200px;
  height: 10vh;
}

.nav-logo {
  font-size: 34px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nav-sections {
  display: flex;
  gap: 40px;
}
.nav-sections button {
  all: unset;
  font-size: 24px;
  font-weight: 500;
  color: #b0b0b0;
  cursor: pointer;
  position: relative;
}
.nav-sections button:hover {
  text-decoration: underline;
}
.nav-username {
  color: #5585b5;
  background-color: #bbe4e9;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12vh;
  gap: 5vh;
}
.left-div {
  display: grid;
  gap: 2px;
  width: 600px;
}
#left-div-heading1,
#left-div-heading2 {
  color: #4b5b69;
  font-size: 55px;
  font-weight: bold;
}
#left-div-heading3 {
  color: #0fa5fa;
  font-size: 50px;
  font-weight: bold;
}
#left-div-p {
  color: #a9aaab;
  font-size: 24px;
}
.hero-section button {
  all: unset;
  background-color: #0fa5fa;
  color: white;
  padding: 25px 40px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
  font-family: sans-serif;
}
