* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.head-nav {
  background-color: #407088;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #ffb5b5;
  font-weight: bold;
}

.boxes-sec {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.box {
  border: 2px solid black;
  padding: 20px;
  cursor: pointer;
}

.input-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-field input {
  padding: 8px;
}

.input-field button {
  padding: 5px;
  border-radius: 5px;
  background-color: #858585;
  cursor: pointer;
}
.input-field button:hover {
  background-color: #dedede;
}
